.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 5rem;
  flex-wrap: wrap;
}

.right {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 40rem;
  height: 32rem;
  grid-row-gap: 1rem;
}

.options {
  width: 15rem;
  height: 15rem;
  background: #D3D3D3;
  box-shadow: -4px -4px 7px rgba(255, 255, 255, 0.25), 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  font-size: 1.8rem;
  color: #3d3d3d;
  font-family: 'Raleway', sans-serif;
}
.options p{
  padding-top: 1rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}